*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container{
width:100%;
height:100%;
background: url('./assets/belle-bg.jpg') no-repeat top center/cover #000000;
/* background-size: cover; */
display:relative;
}
.map-section{
display:flex;

}
