*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container{
width:100%;
height:100%;
background: url('./assets/belle-bg.jpg') no-repeat top center/cover #000000;
position:relative;
}
.map-section{
display:flex;
width:100%;
}

.restaurant-group{
  width:35%;
  position:relative;
}

/* Overlay for Hero Section */

.container .overlay{
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.8);
  position:absolute;
}

.container div{
  width:100%;
position:relative;
z-index:3;
}

/* Restaurant Details */

.contain{
  width: 100%;
  height:fit-content;
  display:flex;
  flex-wrap:wrap;

}

/* Review Form */

.hide{
  display:none;
}

.form-review{
  display:block;
  position:absolute;
  width:50%;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  margin:0 auto;
  z-index:10000;
}